<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isLoc">Liste des vehicule</ion-title>
    <ion-title *ngIf="isLoc">Choix du vehicule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isCar">
    <div padding>
      <button ion-button block (tap)="redirect()">Ajouter une voiture a votre flotte</button>
    </div>
  </ion-list>

  <ion-list *ngIf="isCar">
    <button ion-item *ngFor="let car of cars" (click)="itemSelected(car)">
      <ion-avatar item-start>
        <img src="assets/imgs/voiture.png">
      </ion-avatar>
      <h2>{{ car.marque + " " + car.modele}}</h2>
      <h3>{{ car.carburant }}</h3>
      <p>{{ car.prix }} €/jour</p>
    </button>
  </ion-list>
</ion-content>
