
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="!log">
    <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" value=""></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button color="primary" block>Sign In</button>
    </div>
  </div>

  <div *ngIf="log">
    <h2>Welcome to Ionic!</h2>
    <p>
      This starter project comes with simple tabs-based layout for apps
      that are going to primarily use a Tabbed UI.
    </p>
    <p>
      Take a look at the <code>src/pages/</code> directory to add or change tabs,
      update any existing page or create new pages.
    </p>
  </div>

  <div padding>
    <button ion-button block (tap)="deleteVoiture()">Supprimer Table Voiture</button>
  </div>

  <div padding>
    <button ion-button block (tap)="deleteUser()">Supprimer Table User</button>
  </div>

  <div padding>
    <button ion-button secondary menuToggle>Toggle Menu</button>
  </div>

</ion-content>
