<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isLoc">Liste des client</ion-title>
    <ion-title *ngIf="isLoc">Choix du client</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!isUser">
    <div padding>
      <button ion-button block (tap)="redirect()">Ajouter un client</button>
    </div>
  </div>

  <ion-list *ngIf="isUser">
    <button ion-item *ngFor="let user of users" (click)="itemSelected(user)">
      <ion-avatar item-start>
        <img src="assets/imgs/user.png">
      </ion-avatar>
      <h2>{{ user.nom + " " + user.prenom}}</h2>
      <h3>{{ user.mail }}</h3>
      <p>{{ user.telephone }}</p>
    </button>
  </ion-list>
</ion-content>